<header class="header ">
  <nav class="navbar navbar-light bg-dark justify-content-between">
  <a class="navbar-brand"> <h1>Your Dashboard</h1> </a>
    <h1>  Giotto </h1>

</nav>


<body>
  <h2>Currently renting</h2>
    <div class="cards">
      <% current_user.furnitures.each do |furniture| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)  )">
          <p> <%= link_to furniture.title, furniture_path(furniture) %></p>
          <td><%= link_to 'Details', furniture_path(furniture) %></td>
        <td><%= link_to 'Change plan', edit_furniture_path(furniture) %></td>
        </div>
      <% end %>
    </div>

</body>




<h2> Your booking</h2>
    <div class="cards">
      <% current_user.furnitures.each do |furniture| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)  )">
          <p> <%= link_to furniture.title, furniture_path(furniture) %></p>

        </div>
      <% end %>
    </div>
