<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.smow.com/pics/vt-142-001/vitra-homedesk-09_zoom.jpg');">
  <div class ="container">
    <h1>Welcome on Giotto!</h1>
    <h2>Giotto is a rental second-hand furniture marketplace for home office furniture</h2>
    <p>Find the perfect home office set close to you, rent it, go pick it up, and enjoy a new professional, affordable and sustainable working station</p>
    <%= link_to "Explore the furniture", furnitures_path, class: "btn btn-danger" %>
  </div>
</div>





