// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";




// -------- Dashboard -------
.main{
  height: 100vh;
  display: flex;
}
.col-size {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.sidebars{
  display: flex;
  background-color: #F8F4ED;
  flex-grow: 2;
}

.conversation {
  display: flex;
  align-items: center;
  flex-grow: 10;
}

h1,h2 {
  color: lightgray;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 16px;
  margin-top: 35px;

}
h3 {
  text-align:center;
}
h1 {
  font-size: 18px;
  color: #EFC88B;
}

.banner p {
  color: white;
}


.container {
  max-width: 1000px;
  display: block;
  margin: auto;
}


.header {
  background: #F8F4ED;
  overflow: auto;
  line-height: 1.7em;
}



h1 {
  text-align: center;
  color: white;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 35px;
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.card-product {
  margin-top: 32px;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.invisible {
  color: #FFFFFF;
  text-decoration: none;
}

.link-card {
  text-decoration: none;
}

// -------- Dashboard new --------
.side-panel {

  padding: 0px;
}

.main-panel {

  padding: 0px;
}

.col-md-10 {
  padding: 0px;
  background-color: #F8F4ED;
  margin: 0px;
}
.col-md-2 {
  padding: 0px;
  background-color: #FFFFFF;
}
.main {
  height: 100vh;
  display: flex;
}

.side-bar {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.side-user {
  padding: 0px;
  align-items: center;
  padding-top: 45px;
  font-size: 16px;
  line-height: 0.75em;

}
.side-action{
  padding: 0px;
}

.logo {
  border-radius: 50%;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  margin-bottom: 25px;
}

.side-action h2 {
  color: #111;
  font-size: 17px;
  margin:4px;
  margin-bottom: 25px;
}
.side-user p {
  padding: 0px;
  align-items: center;
  text-align: center;
  padding: 3px;
  margin: 3px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.separator {
  margin: 20px auto;
  height: 1px;
  width: 100px;
  background: #111;
}

.separator-large {
  margin: 3px 45px;
  height: 1px;
  width: 500px;
  background: #111;
  align: left;
}

.main-panel h2 {
  font-size: 25px;
  color: #111;
  text-align: left;
}

.background-offer {
   background-color: white;
   box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
   padding: 20px;
   margin: 25px;
   margin-left: 60px;

}

.dashboard-title {
  margin-left: 25px;
  font-weight: bold;
}

.product-details {
  padding-right: 32px;
  margin: 15px;
  margin-bottom: 25px;
  border-radius: 4px;
  font-size: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


.product-picture {
  border-radius: 50%;
}

.furniture-title {
  font-size: 16px;
}

.background-offer {
  overflow-y: scroll;
max-height: 80vh;
}


